.title {
    text-align: center;
    background-color: var(--fundo);
    color: var(--text);
    width: 100vw;
}

h1 {
    width: 100vw;
    font-family: Verdana, sans-serif;
    justify-content: center;

    border-top: 1px solid var(--subtitle);
    border-bottom: 1px solid var(--subtitle);

    padding: 15px 0;
    font-size: 120px;
    font-weight: bolder;
}