
<app-title></app-title>

<main>
  <article>
    <app-big-card
      [photo]="
        'https://th.bing.com/th/id/OIP.nRlrxrGf2hEoyr0XVkrYXwHaEK?w=287&h=180&c=7&r=0&o=5&dpr=2&pid=1.7'
      "
      [title]="'Coragem, Cao Covarde'"
      [description]="
        'Coragem, o Cão Covarde conta a história de Coragem, um cachorro facilmente assustado que vive em uma fazenda com Muriel e Eustácio Bagge, na cidade fictícia de Lugar Nenhum, no Kansas. Abandonado quando filhote, Coragem foi encontrado em um beco por Muriel Bagge, uma mulher escocesa de natureza doce e seu marido Eustácio, um fazendeiro mal-humorado e ganancioso que gosta de assustá-lo.'
      "
      [id]="'1'"
    ></app-big-card>
  </article>

  <article>
    <app-small-card
      [photo]="
        'https://th.bing.com/th/id/R.d91b6b2477a87f53d14cd8fa354dd836?rik=YwdIJUZtEVbKMQ&pid=ImgRaw&r=0'
      "
      [description]="
        'Hora de Aventura ou Hora de Aventuras é uma série de desenho animado americana criada por Pendleton Ward para o Cartoon Network'
      "
      [id]="'2'"
    ></app-small-card>
    <app-small-card
      [photo]="
        'https://th.bing.com/th/id/OIP.nzywVDT8GGblFxE3B1irfgHaEN?w=286&h=180&c=7&r=0&o=5&dpr=2&pid=1.7'
      "
      [description]="
        'A série gira em torno de Gumball Watterson, um gato azul de 12 anos de idade,que frequenta a escola secundária na cidade fictícia de Elmore'
      "
      [id]="'3'"
    ></app-small-card>

    <app-small-card
      [photo]="
        'https://th.bing.com/th/id/OIP.USsEGPPp1BzFcoIaaKi9SAHaDn?w=343&h=170&c=7&r=0&o=5&dpr=2&pid=1.7'
      "
      [description]="
        'Titio Avô é uma série de desenho animado criada por Peter Browngardt, ex-artista de storyboard de Futurama, Chowder e As Trapalhadas de Flapjack.'
      "
      [id]="'4'"
    ></app-small-card>
  </article>
</main>